:root {
    --fundo: #ffffff;
    --fundo-cabecalho: rgb(29, 29, 29);
    --letra: black;
    --letra-cabecalho: white;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
    display: flex;
    color: var(--letra-cabecalho);
    background: var(--fundo-cabecalho);
}

body {
    color: var(--letra);
    background: var(--fundo);
}

.container {
    margin-top: 170px;
    margin-bottom: 170px;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

footer {
    color: var(--letra);
}

.h1 {
    color: rgb(226, 131, 43);
}